body{
    background-color:beige;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    padding: 70px;
    margin: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 7%;
}
a:hover{
    box-shadow: 5px 5px 5px grey;
}
a:active{
    box-shadow: 0 0 0 white;
}